/*--------------- General settings ---------------*/

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.loading {
  height: 100vh;
  background-color: var(--main-bcg-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
}

p {
  font-family: var(--main-font-family);
}

a {
  font-family: var(--main-font-family);
}

/*-------------- Font  ----------------*/

@import url("https://fonts.googleapis.com/css2?family=Marvel&display=swap");

/*------------- Variable  ---------------*/

:root {
  --main-font-color: white;
  --main-bcg-color: #000000;
  --second-bcg-color: #1a1b1d;
  --main-font-family: "Abel", sans-serif;
  --main-font-size: 2.5em;
}

/*--------------- Style of header -----------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding-left: 200px;
  padding-right: 200px;
  background-color: var(--second-bcg-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

header > ul {
  display: flex;
}

header > ul > a {
  padding-left: 10px;
}

header > ul > a:nth-child(1) {
  padding: 0;
}

header a {
  color: var(--main-font-color);
}

.logo-marvel {
  width: 150px;
  border-radius: 3px;
}

/*---------- Style of CharacterS page -----------*/

.characters {
  background-color: var(--main-bcg-color);
  min-height: 100vh;
}

.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characters-container > article {
  width: 150px;
  font-family: var(--main-font-family);
  text-align: center;
  margin: 10px;
  transition: transform 0.2s;
}

.characters-container > article:hover {
  transform: scale(1.1);
}

a div img {
  width: 150px;
  height: 225px;
  border-radius: 10px 10px 0px 0px;
}

.redirects > div {
  height: 350px;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  color: var(--main-font-color);
}

.redirects > div::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 0%;
  z-index: -1;
  background-color: #ec1c22;
}

.redirects > div:hover::before {
  height: 35%;
  transition: ease-in-out 100ms;
}

.input {
  display: flex;
  justify-content: center;
}

.input input {
  height: 30px;
  width: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
}

.characters-button  {
  display: flex;
}

.characters-button span {
  color: white;
}

.characters-name {
  height: 100px;
}

/*------------ Style of Character page -------------*/

.character-container {
  display: flex;
  justify-content: center;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.character img {
  width: 150px;
}

.character-comics {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  gap: 10px;
}

.character-content {
  height: calc(100vh - 100px);
  background-color: grey;
}

/*------------ Style of ComicS page ------------*/

.comics {
  background-color: var(--main-bcg-color);
  min-height: 100vh;
}

.comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comics-container > article {
  width: 150px;
  font-family: var(--main-font-family);
  text-align: center;
  margin: 10px;
  transition: transform 0.2s;
}

.comics-container > article:hover {
  transform: scale(1.1);
}

.input {
  display: flex;
  justify-content: center;
}

.input input {
  height: 30px;
  width: 15%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
}

.comics-button  {
  display: flex;
}

.comics-button span {
  color: white;
}

/*------------- Style of comic page  --------------*/

.comic-container {
  display: flex;
  justify-content: center;
}

.comic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.comic img {
  width: 150px;
}

.comic-content {
  height: calc(100vh - 100px);
  background-color: grey;
}

/*------------- Style of favorites page  --------------*/
.favorites {
  background-color: var(--main-bcg-color);
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.favorites-container {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: scroll;
}

.favorites-container > article {
  width: 150px;
  height: 350px;
  margin: 10px;
}

.favorites-container article div {
  text-align: center;
}

.favorites p {
  color: white;
}

/*------------- Style of home page  --------------*/

.home {
  background: url(./assets/images/marvel-wallaper.jpeg);
  background-size: 100%;
  height: calc(100vh - 100px);
}

.home-buttons {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.home-buttons > a > button {
  position: relative;
  margin: 10px;
  width: 200px;
  height: 70px;
  border-radius: 10px;
  border: none;
  color: var(--main-font-color);
  background-color: var(--main-bcg-color);
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  z-index: 1;
}

.home-buttons > a > button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 0%;
  border-radius: 20px;
  z-index: 1;
  background-color: #ec1c22;
}

.home-buttons > a > button:hover::before {
  height: 100%;
  z-index: -1;
  transition: height 100ms ease-in-out;
}

/*------------- Style of signup page  --------------*/

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signup > form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
}

form > input {
  margin-bottom: 20px;
}

.signup-container a {
  color: black;
}

/*------------- Style of signin page  --------------*/

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signin > form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
}

.signin-container a,
.signin-container p {
  color: black;
  font-family: var(--main-font-family);
}

/*------------- Style of Footer  --------------*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-bcg-color);
  height: 80px;
}

footer p {
  color: white;
}
