/* Style du header  */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: gray;
}

header ul {
  display: flex;
}

header ul li:nth-child(2),
header ul li:nth-child(3) {
  padding-left: 10px;
}

.logo-marvel {
  width: 200px;
}

/* Style de la page Characters  */

.characters-container {
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
}

.characters {
  border: red 1px solid;
  width: 250px;
  height: 450px;
  margin-bottom: 50px;
}

.characters-name {
  margin-bottom: 30px;
}
