/*--------------- General settings ---------------*/

body {
  background-color: var(--main-bcg-color);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.loading {
  height: 100vh;
  background-color: var(--main-bcg-color);
  color: var(--main-font-color);
  font-family: var(--main-font-family);
}

p,
a,
h1,
h2 {
  font-family: var(--main-font-family);
  color: white;
}

/*-------------- Font  ----------------*/

@import url("https://fonts.googleapis.com/css2?family=Marvel&display=swap");

/*------------- Variable  ---------------*/

:root {
  --main-font-color: white;
  --main-bcg-color: #000000;
  --main-font-family: "Roboto", sans-serif;
  --main-font-query-size: 3em;
  --second-font-query-size: 15px;
  --main-font-size: 20px;
  --second-font-size: 16px;
}

/*--------------- Style of header -----------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 80px;
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
}

header::before {
  content: "";
  height: 80px;
  width: 100vw;
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 84%,
    rgba(23, 23, 24, 1) 100%
  );
  opacity: 0.8;
  z-index: -1;
}

.navbar {
  display: flex;
  margin-right: 5%;
}

.navbar a {
  border-left: solid 1px white;
  color: var(--main-font-color);
  padding: 0 20px;
}

.navbar :nth-child(1) {
  border-left: none;
}

header > a {
  margin-left: 5%;
}

.logo-marvel {
  width: 90px;
}

.hamburger-menu {
  display: none;
  color: white;
}

.navbar.mobile-menu {
  margin-left: 0%;
  backdrop-filter: blur(6px);
}

/*------------- Style of home page  --------------*/

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  height: calc(100vh - 160px);
}

.home-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 0;
}

.home-buttons > a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 140px;
  height: 40px;
  margin-top: 15px;
  text-align: center;
  z-index: 1;
  color: white;
  letter-spacing: 1px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
}

.home-buttons > a::before {
  content: "";
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  border: 2px solid #ec1c22;
}

.home-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.home-title img {
  width: 400px;
  height: auto;
}

.home-title p {
  font-size: 4em;
  font-family: var(--main-font-family);
  text-align: center;
  text-shadow: 0px 8px 18px rgba(0, 0, 0, 0.9);
}

.home-content {
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.home-title .universe {
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0px 8px 18px rgba(0, 0, 0, 0.9);
}

.background {
  background: url(./assets/images/home-marvel-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0%;
  left: 0%;
}

/*---------- Style of CharacterS page -----------*/

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.characters-container > article {
  width: 150px;
  font-family: var(--main-font-family);
  text-align: center;
  margin: 10px;
  transition: transform 0.2s;
}

.characters-container > article:hover {
  transform: scale(1.1);
}

a div img {
  width: 150px;
  height: 225px;
  border-radius: 5px 5px 0px 0px;
}

.redirects > div {
  height: 350px;
  position: relative;
  overflow: hidden;
  color: var(--main-font-color);
}

.redirects > div::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 0%;
  z-index: -1;
  background-color: #ec1c22;
}

.redirects > div:hover::before {
  height: 35%;
  transition: ease-in-out 100ms;
}

.input {
  display: flex;
  justify-content: center;
  position: relative;
}

.input input {
  height: 30px;
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid var(--second-bcg-color);
}

.glass {
  position: absolute;
  bottom: 40%;
  left: 5%;
  z-index: 0;
}

.buttons {
  height: 100px;
  margin: 0 20px;
}

.characters-button span {
  color: white;
  text-align: center;
  font-size: var(--main-font-size);
}

.characters-name {
  height: 100px;
}

.characters-button {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  z-index: 1;
}

.characters-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  background: url(https://res.cloudinary.com/dwkwlok28/image/upload/v1704119150/comicsblackandwhite_mm0b29.jpg);
  background-position: center;
}

.characters-background2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: darkred;
  opacity: 0.7;
  backdrop-filter: blur(5px);
}

/*------------ Style of Character page -------------*/

.character-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
  height: calc(100vh - 160px);
}

.character-container {
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin-bottom: 10px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0.5) 84%,
    rgba(23, 23, 24, 0.5) 100%
  );
  border: 5px solid var(--main-bcg-color);
  border-radius: 40px;
}

.character {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character img {
  width: 40%;
  max-width: 50%;
  border-radius: 20px;
}

.character p {
  margin: 10px 0;
  text-align: center;
}

.character-description {
  overflow-y: scroll;
  max-height: 40px;
}

.character-comics {
  display: flex;
  max-width: 80%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.single-comic {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  width: 150px;
}

.single-comic p {
  padding-top: 0;
  max-height: 30px;
  overflow-y: scroll;
}

.single-comic > img {
  width: 120px;
}

.add {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(255, 0, 0, 0.665703781512605) 70%
  );
  border: none;
  color: white;
  width: 240px;
  border-radius: 5px;
}

.remove {
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0.5) 30%,
    rgba(255, 0, 0, 0.665703781512605) 70%
  );
  border: none;
  color: white;
  width: 240px;
  border-radius: 5px;
}

.heart {
  width: 20px;
  height: 20px;
  position: absolute;
  right: -10%;
}

.character-button {
  display: flex;
  align-items: center;
  position: relative;
}

.character-background {
  height: 100vh;
  background: url(https://res.cloudinary.com/dwkwlok28/image/upload/v1703512337/spider-man_frtb9a.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0%;
  width: 100vw;
  z-index: -1;
}

/*------------ Style of ComicS page ------------*/

.comics {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    260deg,
    rgba(236, 28, 34, 1) 0%,
    rgba(2, 2, 19, 1) 35%,
    rgba(13, 30, 73, 1) 80%
  );
  min-height: 100vh;
}

.comics-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.comics-container > article {
  width: 150px;
  font-family: var(--main-font-family);
  text-align: center;
  margin: 10px;
  transition: transform 0.2s;
}

.comics-container > article:hover {
  transform: scale(1.1);
}

.comics-button  {
  display: flex;
}

.comics-button span {
  color: white;
}

/*------------- Style of comic page  --------------*/

.comic-container {
  display: flex;
  justify-content: center;
}

.comic {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.comic img {
  width: 150px;
}

.comic-content {
  height: calc(100vh - 180px);
  background-color: grey;
}

/*------------- Style of favorites page  --------------*/
.favorites {
  background-color: var(--main-bcg-color);
  height: calc(100vh - 180px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.favorites-container {
  display: flex;
  width: auto;
  max-width: 80%;
  overflow-y: scroll;
}

.favorites-article {
  width: 150px;
  height: 350px;
  padding: 10px;
}

.favorites-container article div {
  text-align: center;
}

.favorites p {
  color: white;
}

/*------------- Style of signup page  --------------*/

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 180px);
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signup > form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
}

form > input {
  margin-bottom: 20px;
}

.signup-container a {
  color: black;
}

/*------------- Style of signin page  --------------*/

.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 180px);
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.signin > form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 25%;
}

.signin-container a,
.signin-container p {
  color: black;
  font-family: var(--main-font-family);
}

/*------------- Style of Footer  --------------*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 0;
  height: 80px;
  width: 100vw;
}

footer::before {
  content: "";
  height: 80px;
  width: 100vw;
  position: absolute;
  bottom: 0%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 84%,
    rgba(23, 23, 24, 1) 100%
  );
  opacity: 0.8;
  z-index: -1;
}

footer h2 {
  color: white;
  font-size: var(--second-font-size);
  padding-bottom: 10px;
  text-align: center;
}

footer img {
  width: 40px;
  height: 40px;
}

.socials {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

/* MEDIA QUERIES  */

@media all and (max-width: 690px) {
  /* --------------   Queries for HEADER --------------   */

  .hamburger-menu {
    display: block;
    margin-right: 5%;
    z-index: 1;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    margin: 0;
    margin-left: -100%;
    font-size: 20px;
    background-color: RGBA(0, 0, 0, 0.61);
    transition: all 0.5s ease;
  }

  .navbar a {
    margin: 25px 0;
    border: none;
    padding: 0;
  }

  /* --------------   Queries for HOME --------------   */
  .home-title p,
  .home-title .universe {
    font-size: 2em;
  }

  .home-title img {
    width: 200px;
  }

  .home-buttons {
    margin-top: 30px;
  }

  .home-buttons > a {
    width: 100px;
    height: 30px;
  }
  /* --------------   Queries for CHARACTERS --------------   */

  /* --------------   Queries for CHARACTER --------------   */

  .character {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .character img {
    width: 50%;
  }

  .character-container {
    width: 200px;
    height: 300px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .character-description {
    max-height: 40px;
    overflow-y: scroll;
  }

  .character p {
    margin: 5px 0;
    font-size: var(--second-font-query-size);
  }

  .single-comic p {
    font-size: var(--second-font-query-size);
    max-height: 40px;
    width: 80px;
    overflow-y: scroll;
  }

  .single-comic img {
    max-width: 80px;
  }

  .character-button {
    width: 150px;
  }

  .heart {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -15%;
  }

  /* --------------   Queries for FOOTER --------------   */

  footer h2 {
    font-size: var(--second-font-query-size);
  }
}
